body {
  background-color: #FFE4E1;
}

.title {
  margin: auto;
  padding-top: 50px;
  padding-right: 6rem;
  color: #b08b95;
  text-align: center;
}

.todo_form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin: 100px auto;
  border-radius: 20px;
}

.todo_form .todo_input,
.todo_form .todo_btn,
.todo_form .todo_filter {
  padding: 15px;
  border: 0;
  background-color: #faf0e6;
}

.todo_form .todo_input {
  width: 400px;
  line-height: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  outline: none;
}

.todo_form .todo_btn {
  position: absolute;
  right: 170px;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 900;
  cursor: pointer;
}

.todo_form .todo_filter {
  position: relative;
  width: 120px;
  margin-left: 50px;
  font-size: 1.2rem;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  outline: none;
}

.todo_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.todo_task .todo_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px 40px 0;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #fff0f5;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
}

.todo_task .todo_item.completed p {
  text-decoration: line-through;
}

.todo_task .todo_title,
.todo_task .todo_content {
  margin-bottom: 30px;
}

.todo_task .todo_edit {
  position: absolute;
  top: 105px;
  left: 0;
  right: 0;
  width: 75%;
  margin: 0 auto;
  padding: 5px 12px;
  font-size: 0.875rem;
  border: 0;
  background-color: #f8edeb;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.todo_task .todo_edit_hide {
  display: none;
  -webkit-box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.5);
}

.todo_task .todo_item_btn {
  padding: 20px;
}

.todo_task .todo_item_btn .item_btn {
  margin-left: 20px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.todo_task .todo_item_btn .item_btn:hover {
  background-color: #ffe4e1;
}

.alert_msg {
  position: absolute;
  top: -50px;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  background-color: #ffb5a7;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.msg_show {
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=index.css.map */